/*General styles */
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    line-height: 1.6;
}
header{
    background-color: #e75480;
    color:white;
    padding: 1em;
    text-align: center;
}
nav a{
    margin: 0px 10px;
    text-decoration: none;
}
nav a .active{
    font-weight: bold;
    text-decoration: underline;
}
main{
    padding: 2rem;
   
}
.hero{
    background: #ffe4ec;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}
.products{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.product-card{
    background: #fff0f5;
    padding : 1rem;
    border-radius: 10px;
    width: 400px;
    text-align: center;

}
.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}
button{
    background-color: #e75480;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #cf2359;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}